.book {


      &__titel{
         text-align: center;
         margin-bottom: 21px;
      }

		&__container {
         display: flex;
         justify-content: center;
         gap: 21px;
      }
}
.fiction {
   &__titel{
      text-align: center;
      margin-bottom: 21px;
   }
		
		&__inner {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         max-width: 300px;
         gap: 21px;
		}
}
.non-fiction {

		// .non-fiction__inner
      &__titel{
         text-align: center;
         margin-bottom: 21px;
      }
		&__inner {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         max-width: 300px;
         gap: 21px;
      }
}
.cd {

		// .cd__inner
      &__titel{
         text-align: center;
         margin-bottom: 21px;
      }
		&__inner {
         display: flex;
         justify-content: flex-start;
         gap: 21px;
         max-width: 500px;
         margin-bottom: 47px;
         flex-wrap: wrap;
      }
}
.books {

   // .books__wrapper

   &__wrapper {
      display: flex;
      justify-content: space-between;
}

}
.info {

   // .info__book

   &__book {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 17px;

   }
}
.book {
   max-width: 128px;
   cursor: pointer;
}

.book-titel {

   // .book-titel__name

   &__name {
      font-size: 12px;
   }
}
.book-text {

   // .book-text__author

   &__author {
      font-size: 12px;
   }
}

.cds {
   margin-top: 28px;
}
.cd {
   width: 100%;
   max-width: 128px;
   cursor: pointer;
   // .cd__wrapper

   &__wrapper {
      display: flex;
      justify-content: space-between;
   }
}

.cd-titel {
   // .cd-titel__name

   &__name {
      font-size: 12px;
   }
}
.cd-text {

   // .cd-text__author

   &__author {
      font-size: 12px;
   }
}
