.book {


      &__titel{
         text-align: center;
         margin-bottom: 21px;
      }

		&__container {
         display: flex;
         justify-content: center;
         gap: 21px;
      }
}
.fiction {
   &__titel{
      text-align: center;
      margin-bottom: 21px;
   }
		
		&__inner {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         max-width: 300px;
         gap: 21px;
		}
}
.non-fiction {

		// .non-fiction__inner
      &__titel{
         text-align: center;
         margin-bottom: 21px;
      }
		&__inner {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         max-width: 300px;
         gap: 21px;
      }
}
.cd {

		// .cd__inner
      &__titel{
         text-align: center;
         margin-bottom: 21px;
      }
		&__inner {
         display: flex;
         justify-content: flex-start;
         gap: 21px;
         max-width: 500px;
         margin-bottom: 47px;
         flex-wrap: wrap;
      }
}
.books {

   // .books__container

   &__container {
   }

   // .books__wrapper

   &__wrapper {
      gap: 32px;
      display: flex;
}
}
.info {

   // .info__book

   &__book {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 17px;

   }
}
.book {
   max-width: 128px;
}
.book-img {

   // .book-img__item

   &__item {
   }
}
.book-titel {

   // .book-titel__name

   &__name {
      font-size: 12px;
   }
}
.book-text {

   // .book-text__author

   &__author {
      font-size: 12px;
   }
}
.rating {

   // .rating__check

   &__check {
      border: none;
      margin: 5px 0;
   }
}
.availability {

   // .availability__check

   &__check {
   }
}
